.navbar-separator {
  width: 1px;
  height: 50px;
  background-color: #333; /* Cor do separador */
  margin: 0 10px;
  display: inline-block;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 15px;
}

.container-fluid{
  background-color: #fff;
}
.navbar-bottom-line {
  background-image: linear-gradient(to bottom, #d3d3d3, #FFFFFF); /* Degradê do preto ao branco */
  height: 20px; /* Espessura da linha */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-color-1{
 color: #FF4500;
}
.d-flex{
  padding-left: relative;
}

.btn-outline-success {
color: red;
}